# MySQL root password
MYSQL_ROOT_PASSWORD=your_root_password

# Database name
MYSQL_DATABASE=your_database_name

# MySQL user
MYSQL_USER=your_username

# MySQL user password
MYSQL_PASSWORD=your_password

# MySQL exposed port
DB_PORT=3306

# phpMyAdmin exposed port
PMA_PORT=8080

# For development, set NODE_ENV to 'development' to enable features like Swagger documentation
# For production, set it to 'production' to disable development-only features
# `docker compose exec backend printenv NODE_ENV` to check the value of NODE_ENV in the backend container
NODE_ENV=development