#=====================================================================
# THESE ENV VARIABLES ARE FOR DOCKER COMPOSE. DO NOT USE THEM IN PRODUCTION. USE .env.docker INSTEAD.
# DB_HOST: db
# DB_PORT: 3306
# DB_USER: ${MYSQL_USER}
# DB_PASSWORD: ${MYSQL_PASSWORD}
# DB_NAME: ${MYSQL_DATABASE}
# NODE_ENV: ${NODE_ENV}
# PORT: 3000
# Docker compose will override them with the value in .env in the root folder
#=====================================================================

JWT_SECRET=supersecretkey

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=yourmail@gmail.com
MAIL_PASS=your_mail_pass
MAIL_FROM="EdTech <noreply@edtech.com>"

FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME= your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
