#This .env is for development only. Do not use it in production. Use .env.docker for production instead.

DB_HOST=localhost
DB_PORT=3306
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=your_database_name

# For development, set NODE_ENV to 'development' to enable features like Swagger documentation
# For production, set it to 'production' to disable development-only features
NODE_ENV=production

# Backend server port
PORT=3000

# JWT secret key for signing and verifying JWT tokens. In production, use a strong, unique secret key and keep it secure.
JWT_SECRET=supersecretkey

# Email configuration for sending emails
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=yourmail@gmail.com
MAIL_PASS=your_mail_pass
MAIL_FROM="EdTech <noreply@edtech.com>"

# Frontend URL for CORS configuration and email templates
FRONTEND_URL=http://localhost:5173

# Cloudinary configuration for file uploads
CLOUDINARY_CLOUD_NAME= your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
